# Generated manually for the integrated EasyFlow2 package.

export(Annotate_Clusters_Dual_Track)
export(Apply_Gating_Template)
export(Apply_Panel_Mapping)
export(Apply_Plot_Order)
export(Assign_Terminal_Gate_CellType)
export(Auto_Clean_FCS)
export(Build_Cluster_Summary_Values)
export(Call_OpenRouter_Chat)
export(Compare_Populations)
export(Compare_Populations_Barplot)
export(Export_To_FCS)
export(Generate_Final_HTML_Report)
export(Infer_Trajectory)
export(Match_Rules_With_Negatives)
export(Normalize_Annotation_Label)
export(Perform_Abundance_Stats)
export(Perform_Marker_DE)
export(Plot_Alluvial)
export(Plot_Composition)
export(Plot_Confusion_Matrix)
export(Plot_Density_Line)
export(Plot_Dim_Reduction)
export(Plot_Dotplot)
export(Plot_Gating_Tree)
export(Plot_Heatmap)
export(Plot_Sample_PCA)
export(Plot_Scatterhist_Line)
export(Plot_Violin_AllInOne)
export(Plot_tSNE_Density)
export(Prepare_Raw_Data)
export(Project_Atlas_To_Massive_Data)
export(Project_New_Sample)
export(Remove_Batch_Effects_ADTnorm_Lite)
export(Run_Agentic_LLM_Loop)
export(Run_Analysis_On_Gated_Data)
export(Run_Universal_Gating)
export(Set_Plot_Order)
export(theme_publication)

importFrom(ggplot2,"%+replace%")
import(grDevices)
import(graphics)
import(stats)
import(utils)
importFrom(grDevices,colorRampPalette)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(graphics,plot.new)
importFrom(graphics,title)
importFrom(magrittr,"%>%")
